@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f3f3f3;
}

.input {
  text-align: center;
  margin: 0 auto;
}

input[type="submit"] {
  padding: 15px 30px;
  background: #e7e7e7;
  border: none;
  border-radius: 1px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 20px;
  width: calc(100% - 100px);
  border-radius: 10px;
}

.input input[type="text"] {
  padding: 5px 10px;
  background: #e7e7e7;
  border: none;
  border-radius: 1px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
  height: 55px;
  width: calc(100% - 100px);
  border-radius: 10px;
}

.card {
  width: calc(100% - 100px);
  background: #e7e7e7;
  height: 40vh;
  margin: 0 auto;
  border-radius: 2px;
  border-radius: 10px;
}

.close {
  float: right;
  margin-top: -2px;
  cursor: pointer;
  margin-right: 20px;
}

.card h1 {
  padding: 5px 0;
  text-align: center;
}

.card p {
  text-align: center;
  margin: 40px 0;
  font-size: 20px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  width: calc(100%-20px);
}

.bottom {
  width: 80%;
  margin: 0 auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.unitSelection {
  display: flex;
  justify-content: center;
  align-items: center;
}
